div#tfb_slidesA
{
	width: 100%; /*This is your width of the slides*/
	font-size: 0;
	white-space: nowrap;
	overflow: hidden;
	position: relative;

	>div#tfb_photos
	{
		transition: 1s;

		.tfb_photo
		{
			width: 100%;
			display: inline-block;

			>img
			{
				width: 100%;
				min-height: 220px;
				max-height: 600px;
			}

			>p.tfb_slides_p
			{
				width: 100%;
				background: rgba(0,0,0,.7);
				position: absolute;
				bottom: 25%;
				transform: translate(0, 25%);
				-ms-transform: translate(0, 25%);
				-webkit-transform: translate(0, 25%);
				z-index: 100;

				a
				{
					padding: .2rem .5rem;
					@include font-style(1rem, #ddd,0,2);
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					display: block;
					transition: .15s all;

					&:hover
					{
						color: #fff;
						background: #70bde5;
					}
				}
			}
		}
	}

	>div#tfb_left, div#tfb_right
	{
		padding: 200% 1%;
		@include font-style(2rem,white);
		cursor: pointer;
		position: absolute;
		z-index: 100;
		top: 50%;
		transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		-webkit-transform: translate(0, -50%);

		&:hover
		{
			background: rgba(0,0,0,.7);
		}
	}

	div#tfb_right
	{
		right: 0;
	}

	div#tfb_dots
	{
		padding: 4px;
		@include font-style(0,white);
		background: rgba(0,0,0,0.4);
		white-space: normal;
		position: absolute;
		bottom: 3%;
		left: 50%;
		transform: translate(-50%, -25%);
		-ms-transform: translate(-50%, -25%);
		-webkit-transform: translate(-50%, -25%);
		z-index: 100;

		>span.dot
		{
			width: 16px;
			height: 16px;
			margin: 0 4px;
			cursor: pointer;
			border: 1px solid white;
			border-radius: 50%;
			display: inline-block;

			&:hover
			{
				background: #ccc !important;
			}
		}
	}
}

#collabs
{
	margin: $content-margin;

	>.collab
	{
		width: 12.5%;
		height: 100px;
		padding: .5em;
		@include border(1,1,1,1,#eee,solid);
		box-shadow: 0px 0px 15px 5px #ddd inset;
		transition: .15s all;
		float: left;

		a>img
		{
			width: 100%;
			height: 100%;
			transition: .15s all;
		}

		&:hover
		{
			box-shadow: 0px 0px 15px 5px #eee inset;
		}

		&:hover>a>img
		{
			transform: scale(1.2);
		}
	}
}