#footer-wrapper
{
	width: 100%;
	padding: 1%;
	@include font-style(0.9em, 0, center);
	font-variant: small-caps;
	background: linear-gradient(to bottom, #FFF, #DDD);
	position: absolute;
	left: 0;
	bottom: 0;
}