.form-content
{
	width: 40%;
	margin: $content-margin;
	@include font-style(10px,0,center);

	input[type="radio"]
	{
		margin: 5px 0;
	}

	input[type="checkbox"]
	{
		margin: 15px 0;
	}

	input[type="text"], input[type="password"], input[type="submit"]
	{
		width: 100%;
		padding: 10px;
		margin: 15px 0;
		@include font-style(2em,0,0);
		@include border(2,2,2,2,rgba(140,140,140,0.8), solid);
		border-radius: 1.4em;
		background: #eee;
		display: block;

		&:focus
		{
			border-color: #444;
			background: #fff;
		}
	}

	input[type="submit"]
	{
		margin: 0.3% 0;
		padding: 12px;
		background: #ddd;

		&:hover
		{
			background: #eee;
		}
	}

	>a
	{
  		margin-top: 4%;
		@include font-style(1.2em,#666,right);
		display: block;

		&:hover
		{
			color: $standard;
		}
	}

	>form>span
	{
		@include font-style(1.6em,#444);
		font-variant: small-caps;
	
		>a
		{
			color: #E82C0C;

			&:hover
			{
				color: #ddd;
			}
		}
	}
}

#add-news-form
{
	width: 90%;
	margin: $content-margin;
	@include font-style(18px,0,center);

	input, textarea
	{
		width: 100%;
		padding: 10px;
		margin: 15px 0;
		@include font-style(1.6em,0,center);
		@include border(2,2,2,2,rgba(140,140,140,0.8), solid);
		background: #eee;
		display: block;
	}

	textarea
	{
		max-width: 100%;
		@include font-style(1em,0,left);
		height: 800px;
	}
	span
	{
		@include font-style(1.2em,#444);
		font-variant: small-caps;
	
		>a
		{
			color: #E82C0C;

			&:hover
			{
				color: #ddd;
			}
		}
	}
}

.profile-form
{
	width: 100%;
}


#notification_id
{
	width: 80%; position: fixed; top: 5%; left: 10%; display: table; z-index: 999; box-shadow: 0px 0px 5px black; background-color: white; padding: 10px; opacity: 0; animation-name: notification; animation-duration: 3s;

	>span
	{
		display: table-cell; vertical-align: middle; text-align: center; font-size: 1.3em; font-weight: bold;
	}
}

	.notification_success
	{
		color: green !important;
	}

	.notification_failure
	{
		color: red !important;
	}

@keyframes notification
{
    0%   {opacity: 1;}
    25%  {opacity: 1;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
}