#header-wrapper
{
	font-size: 0;

	>#header-header
	{
		width: 70%;
		display: inline-block;
		vertical-align: middle;
		
		>a.header-object
		{
			display: inline-block;
			@include font-style(1.2rem,0,0,1);
			vertical-align: middle;

			img
			{
				width: 80px;
				height: 80px;
				margin: .6em;
				vertical-align: middle;
			}

			h2.header-twin-header
			{
				@include font-style(2em,#444,0,0);
				letter-spacing: 1.5px;
				font-weight: inherit;
			}

			h4.header-twin-header
			{
				@include font-style(0.8em,$standard,0,0);
				letter-spacing: .5px;
				font-weight: inherit;
			}

			&:hover > .header-twin-header
			{
				color: black;
			}
		}
	}

	>#header-user
	{
		width: 30%;
		display: inline-block;
		vertical-align: top;
		@include font-style(1rem,$standard,center,200%);
		a
		{
			padding: .2em 1em;
			background: #f7f7f7;
			display: inline-block;
			@include font-style(0.9em,$standard);
			font-variant: small-caps;
			border-bottom: 2px solid #70bde5;
			transition: 0.15s all;

			&:hover
			{
				color: #fff;
				background: #70bde5;
			}
		}
	}
}