////////////////////////////////////////////////////////////////////////////////
//GLOBAL MIXINS
////////////////////////////////////////////////////////////////////////////////

// DIMENSIONS OF WINDOWS
@mixin border($border-top: 0, $border-right: 0, $border-bottom: 0, $border-left: 0, $border-color: black, $border-style: solid)
{
	@if ($border-top != 0 or $border-right != 0 or $border-bottom != 0 or $border-left != 0)
	{
		border-width: $border-top+px $border-right+px $border-bottom+px $border-left+px;
	}
	@if ($border-color != 0)
	{
		border-color: $border-color;
	}
	@if ($border-style != 0)
	{
		border-style: $border-style;
	}
}

@mixin col-1-2()
{
	width: 50%;
	float: left;
}

@mixin center()
{
	margin: 0 auto;
}

// FONTS

//FONT STYLE --> (SIZE, COLOR, ALIGN, LINE-HEIGHT, STYLE, FAMILY)
@mixin font-style($fontS-size: 0, $fontS-color: 0, $fontS-align: 0, $fontS-lineHeight: 0, $fontS-style: 0, $fontS-family: 0)
{
	@if ($fontS-size != 0)
	{
		font-size: $fontS-size;
	}
	@if ($fontS-color != 0)
	{
		color: $fontS-color;
	}
	@if ($fontS-align != 0)
	{
		text-align: $fontS-align;
	}
	@if ($fontS-lineHeight != 0)
	{
		line-height: $fontS-lineHeight;
	}
	@if ($fontS-lineHeight == null)
	{
		line-height: 0;
	}
	@if ($fontS-style != 0)
	{
		font-style: $fontS-style;
	}
	@if ($fontS-family != 0)
	{
		font-family: $fontS-family;
	}
}