#nav-wrapper
{
	width: 100%;
	@include border(1,0,1,0,#70bde5,solid);
	font-size: 0;
	font-family: 'Verdana';
	position: relative;

	>div.nav
	{
		width: calc(100%/9);
		display: inline-block;
		border-right: 1px solid #e9e9e9;
		
		>a
		{
			padding: .5em 0;
			@include font-style(1rem,$standard,center, 2);
			// font-size-adjust: 0.4;
			text-transform: lowercase;
			font-variant: small-caps;
			transition: 0.15s all;
			display: block;

			i
			{
				margin-top: -2px;
			}

			&:hover
			{
				color: #fff;
				background: #70bde5;
			}

			>.fa-nav
			{
				vertical-align: middle;
				// font-size-adjust: 0.4;
			}
			
		}

		&:last-child
		{
			border: none;
		}

		&:hover > .big-nav
		{
			display: block;
		}

		>.big-nav
		{
			width: 100%;
			font-size: 0;
			@include border(1,0,2,0, #70bde5, solid);
			border-left: 1px solid rgba(0,0,0,0.05);
			border-right: 1px solid rgba(0,0,0,0.05);
			position: absolute;
			left: 0;
			top: 100%;
			z-index: 999;
			background: #fefefe;
			display: none;

			>.big-nav-col
			{
				width: 25%;
				padding: .5em 1em 1.5em;
				@include font-style(1rem);
				text-align: left;
				vertical-align: top;
				display: inline-block;
				
				p.nav-p{padding: 1em 0 0};
				p.nav-p, li>a
				{
					@include font-style(1em,$standard);
					// font-size-adjust: 0.4;
					text-transform: lowercase;
					font-variant: small-caps;
					transition: 0.15s all;
					display: block;
				}

				>img
				{
					width: 100%;
					margin: .5em 0;
					max-height: 140px;
					@include border(1,1,1,1,#eee,solid);
				}

				li>a
				{
					margin: .2em 0;
					padding: .4em .4em .6em;
					@include font-style(1em,$standard);
					@include border(1,0,1,0,rgba(233,233,233,0.5),solid);
					box-shadow: 5px 1px 3px 1px rgba(112,189,229,0.03);

					&:hover
					{
						color: #fff;
						background: #70bde5;
					}

					.fa-sub-nav
					{
						float: right;
						line-height: 1.35;
					}
				}
			}

			.col-1-2
			{
				width: 50%;
			}

			.flp
			{
				padding: .5em 4em 1.5em;
			}
		}
	}
}