#news-wrapper
{
	&:after
	{
		content: '';
		display: block;
		clear: both;
	}
	
	#add-news
	{
		width: 100%;
		margin: $content-margin;

		>a
		{
			padding: 1rem;
			@include font-style(2rem, $standard, center);
			@include border(1,0,1,0,#70bde5,solid);
			display: block;

			&:hover
			{
				background: #70bde5;
				color: #fff;
			}
		}
	}

	>.news
	{
		@include col-1-2;
		padding: 0 4em;
		margin: $content-margin;

		.news-title>a
		{
			@include font-style(1.6rem,$standard,center);
			@include border(1,0,1,0,#70bde5,solid);
			background: #fff;
			padding: .4em 0;
			margin-bottom: 0.5em;
			font-variant: small-caps;
			font-weight: inherit;
			letter-spacing: 1.5px;
			display: block;
			transition: .10s all;

			&:hover
			{
				background: #70bde5;
				color: #fff;
			}
		}

		.news-author
		{
			@include col-1-2;
			@include font-style(1rem);
		}

		.news-date
		{
			@include col-1-2;
			@include font-style(1rem,0,right);
			font-variant: small-caps;
			font-weight: inherit;
		}

		.news-about:after
		{
			content: '';
			display: block;
			clear: both;
		}

		.news-img
		{
			margin-top: 0.5em;
			@include border(1,1,1,1,#aaa,solid);
			box-shadow: 0px 0px 3px 1px #bbb;
			overflow: hidden;
			>img
			{
				width: 100%;
				height: 300px;
				transition: .15s all;
				display: block;

				&:hover
				{
					transform: scale(1.02);
				}
			}
		}

		.news-description
		{
			@include font-style(1.2rem, #222, center);
			margin-top: 0.5em;
		}
	}
}