#profile-details, #profile-changes
{
	width: 60%;
	margin: $content-margin;
}

#profile-changes{ >.site-main-p{ >span{ font-size: 0.5em;}}}
#profile-details
{
	>table
	{
		width: 100%;

		tr
		{
			width: 100%;
			margin: .4em 0;
			padding: .4em 0;
			@include border(1,0,1,0,#70bde5,solid);
			@include font-style(0.9em,$standard, left);
			display: table;

			&:nth-of-type(1)
			{
				margin-top: 0;
			}
		}

		th
		{
			width: 30%;
		}

		td
		{
			width: 60%;
			max-width: 200px;
			text-align: center;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			&:last-child
			{
				text-align: right;

				>a
				{
					&:hover
					{
						color: #777;
					}
				}
			}

			>span
			{
				color: green;
			}
		}

		@media all and (max-width: 400px)
		{
			th, td
			{
				width: 100%;
				@include font-style(1em, 0, center, 0,0,0);
				display: table;
			}
		}
	}
}