body
{
	background: $background;
	font-family: $main-font;
}

.site-main-p
{
	width: 100%;
	@include font-style(2rem, #444);
	font-variant: small-caps;
	background: linear-gradient(to right, rgba(140,140,140,0.2), #FFF);
}