// background-colors
$background: #f5f5f5;
$whitebg: #fff;

//fonts
$main-font: 'Helvetica';
$second-font: 'Arial';

//fonts-em
$site-em: 1em;

// fonts-colors
$standard: black;

// dimensions
$site-dimension: 1280px;

// margins
$content-margin: 2% auto;