/*!
 *  style document by fenikstfb
 */
body {
  background: #f5f5f5;
  font-family: "Helvetica";
}

.site-main-p {
  width: 100%;
  font-size: 2rem;
  color: #444;
  font-variant: small-caps;
  background: linear-gradient(to right, rgba(140, 140, 140, 0.2), #FFF);
}

#wrapper {
  max-width: 1280px;
  min-height: 100%;
  margin: 0 auto;
  background: #fff;
  padding-bottom: 100px;
  position: relative;
}

#header-wrapper {
  font-size: 0;
}
#header-wrapper > #header-header {
  width: 70%;
  display: inline-block;
  vertical-align: middle;
}
#header-wrapper > #header-header > a.header-object {
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1;
  vertical-align: middle;
}
#header-wrapper > #header-header > a.header-object img {
  width: 80px;
  height: 80px;
  margin: .6em;
  vertical-align: middle;
}
#header-wrapper > #header-header > a.header-object h2.header-twin-header {
  font-size: 2em;
  color: #444;
  letter-spacing: 1.5px;
  font-weight: inherit;
}
#header-wrapper > #header-header > a.header-object h4.header-twin-header {
  font-size: 0.8em;
  color: black;
  letter-spacing: .5px;
  font-weight: inherit;
}
#header-wrapper > #header-header > a.header-object:hover > .header-twin-header {
  color: black;
}
#header-wrapper > #header-user {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  color: black;
  text-align: center;
  line-height: 200%;
}
#header-wrapper > #header-user a {
  padding: .2em 1em;
  background: #f7f7f7;
  display: inline-block;
  font-size: 0.9em;
  color: black;
  font-variant: small-caps;
  border-bottom: 2px solid #70bde5;
  transition: 0.15s all;
}
#header-wrapper > #header-user a:hover {
  color: #fff;
  background: #70bde5;
}

#nav-wrapper {
  width: 100%;
  border-width: 1px 0px 1px 0px;
  border-color: #70bde5;
  border-style: solid;
  font-size: 0;
  font-family: 'Verdana';
  position: relative;
}
#nav-wrapper > div.nav {
  width: calc(100%/9);
  display: inline-block;
  border-right: 1px solid #e9e9e9;
}
#nav-wrapper > div.nav > a {
  padding: .5em 0;
  font-size: 1rem;
  color: black;
  text-align: center;
  line-height: 2;
  text-transform: lowercase;
  font-variant: small-caps;
  transition: 0.15s all;
  display: block;
}
#nav-wrapper > div.nav > a i {
  margin-top: -2px;
}
#nav-wrapper > div.nav > a:hover {
  color: #fff;
  background: #70bde5;
}
#nav-wrapper > div.nav > a > .fa-nav {
  vertical-align: middle;
}
#nav-wrapper > div.nav:last-child {
  border: none;
}
#nav-wrapper > div.nav:hover > .big-nav {
  display: block;
}
#nav-wrapper > div.nav > .big-nav {
  width: 100%;
  font-size: 0;
  border-width: 1px 0px 2px 0px;
  border-color: #70bde5;
  border-style: solid;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 999;
  background: #fefefe;
  display: none;
}
#nav-wrapper > div.nav > .big-nav > .big-nav-col {
  width: 25%;
  padding: .5em 1em 1.5em;
  font-size: 1rem;
  text-align: left;
  vertical-align: top;
  display: inline-block;
}
#nav-wrapper > div.nav > .big-nav > .big-nav-col p.nav-p {
  padding: 1em 0 0;
}
#nav-wrapper > div.nav > .big-nav > .big-nav-col p.nav-p, #nav-wrapper > div.nav > .big-nav > .big-nav-col li > a {
  font-size: 1em;
  color: black;
  text-transform: lowercase;
  font-variant: small-caps;
  transition: 0.15s all;
  display: block;
}
#nav-wrapper > div.nav > .big-nav > .big-nav-col > img {
  width: 100%;
  margin: .5em 0;
  max-height: 140px;
  border-width: 1px 1px 1px 1px;
  border-color: #eee;
  border-style: solid;
}
#nav-wrapper > div.nav > .big-nav > .big-nav-col li > a {
  margin: .2em 0;
  padding: .4em .4em .6em;
  font-size: 1em;
  color: black;
  border-width: 1px 0px 1px 0px;
  border-color: rgba(233, 233, 233, 0.5);
  border-style: solid;
  box-shadow: 5px 1px 3px 1px rgba(112, 189, 229, 0.03);
}
#nav-wrapper > div.nav > .big-nav > .big-nav-col li > a:hover {
  color: #fff;
  background: #70bde5;
}
#nav-wrapper > div.nav > .big-nav > .big-nav-col li > a .fa-sub-nav {
  float: right;
  line-height: 1.35;
}
#nav-wrapper > div.nav > .big-nav .col-1-2 {
  width: 50%;
}
#nav-wrapper > div.nav > .big-nav .flp {
  padding: .5em 4em 1.5em;
}

div#tfb_slidesA {
  width: 100%;
  /*This is your width of the slides*/
  font-size: 0;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
div#tfb_slidesA > div#tfb_photos {
  transition: 1s;
}
div#tfb_slidesA > div#tfb_photos .tfb_photo {
  width: 100%;
  display: inline-block;
}
div#tfb_slidesA > div#tfb_photos .tfb_photo > img {
  width: 100%;
  min-height: 220px;
  max-height: 600px;
}
div#tfb_slidesA > div#tfb_photos .tfb_photo > p.tfb_slides_p {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 25%;
  transform: translate(0, 25%);
  -ms-transform: translate(0, 25%);
  -webkit-transform: translate(0, 25%);
  z-index: 100;
}
div#tfb_slidesA > div#tfb_photos .tfb_photo > p.tfb_slides_p a {
  padding: .2rem .5rem;
  font-size: 1rem;
  color: #ddd;
  line-height: 2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  transition: .15s all;
}
div#tfb_slidesA > div#tfb_photos .tfb_photo > p.tfb_slides_p a:hover {
  color: #fff;
  background: #70bde5;
}
div#tfb_slidesA > div#tfb_left, div#tfb_slidesA div#tfb_right {
  padding: 200% 1%;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}
div#tfb_slidesA > div#tfb_left:hover, div#tfb_slidesA div#tfb_right:hover {
  background: rgba(0, 0, 0, 0.7);
}
div#tfb_slidesA div#tfb_right {
  right: 0;
}
div#tfb_slidesA div#tfb_dots {
  padding: 4px;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  white-space: normal;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -25%);
  -ms-transform: translate(-50%, -25%);
  -webkit-transform: translate(-50%, -25%);
  z-index: 100;
}
div#tfb_slidesA div#tfb_dots > span.dot {
  width: 16px;
  height: 16px;
  margin: 0 4px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
}
div#tfb_slidesA div#tfb_dots > span.dot:hover {
  background: #ccc !important;
}

#collabs {
  margin: 2% auto;
}
#collabs > .collab {
  width: 12.5%;
  height: 100px;
  padding: .5em;
  border-width: 1px 1px 1px 1px;
  border-color: #eee;
  border-style: solid;
  box-shadow: 0px 0px 15px 5px #ddd inset;
  transition: .15s all;
  float: left;
}
#collabs > .collab a > img {
  width: 100%;
  height: 100%;
  transition: .15s all;
}
#collabs > .collab:hover {
  box-shadow: 0px 0px 15px 5px #eee inset;
}
#collabs > .collab:hover > a > img {
  transform: scale(1.2);
}

#content-wrapper {
  margin: 2% auto;
}

.form-content {
  width: 40%;
  margin: 2% auto;
  font-size: 10px;
  text-align: center;
}
.form-content input[type="radio"] {
  margin: 5px 0;
}
.form-content input[type="checkbox"] {
  margin: 15px 0;
}
.form-content input[type="text"], .form-content input[type="password"], .form-content input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  font-size: 2em;
  border-width: 2px 2px 2px 2px;
  border-color: rgba(140, 140, 140, 0.8);
  border-style: solid;
  border-radius: 1.4em;
  background: #eee;
  display: block;
}
.form-content input[type="text"]:focus, .form-content input[type="password"]:focus, .form-content input[type="submit"]:focus {
  border-color: #444;
  background: #fff;
}
.form-content input[type="submit"] {
  margin: 0.3% 0;
  padding: 12px;
  background: #ddd;
}
.form-content input[type="submit"]:hover {
  background: #eee;
}
.form-content > a {
  margin-top: 4%;
  font-size: 1.2em;
  color: #666;
  text-align: right;
  display: block;
}
.form-content > a:hover {
  color: black;
}
.form-content > form > span {
  font-size: 1.6em;
  color: #444;
  font-variant: small-caps;
}
.form-content > form > span > a {
  color: #E82C0C;
}
.form-content > form > span > a:hover {
  color: #ddd;
}

#add-news-form {
  width: 90%;
  margin: 2% auto;
  font-size: 18px;
  text-align: center;
}
#add-news-form input, #add-news-form textarea {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  font-size: 1.6em;
  text-align: center;
  border-width: 2px 2px 2px 2px;
  border-color: rgba(140, 140, 140, 0.8);
  border-style: solid;
  background: #eee;
  display: block;
}
#add-news-form textarea {
  max-width: 100%;
  font-size: 1em;
  text-align: left;
  height: 800px;
}
#add-news-form span {
  font-size: 1.2em;
  color: #444;
  font-variant: small-caps;
}
#add-news-form span > a {
  color: #E82C0C;
}
#add-news-form span > a:hover {
  color: #ddd;
}

.profile-form {
  width: 100%;
}

#notification_id {
  width: 80%;
  position: fixed;
  top: 5%;
  left: 10%;
  display: table;
  z-index: 999;
  box-shadow: 0px 0px 5px black;
  background-color: white;
  padding: 10px;
  opacity: 0;
  animation-name: notification;
  animation-duration: 3s;
}
#notification_id > span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

.notification_success {
  color: green !important;
}

.notification_failure {
  color: red !important;
}

@keyframes notification {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#profile-details, #profile-changes {
  width: 60%;
  margin: 2% auto;
}

#profile-changes > .site-main-p > span {
  font-size: 0.5em;
}

#profile-details > table {
  width: 100%;
}
#profile-details > table tr {
  width: 100%;
  margin: .4em 0;
  padding: .4em 0;
  border-width: 1px 0px 1px 0px;
  border-color: #70bde5;
  border-style: solid;
  font-size: 0.9em;
  color: black;
  text-align: left;
  display: table;
}
#profile-details > table tr:nth-of-type(1) {
  margin-top: 0;
}
#profile-details > table th {
  width: 30%;
}
#profile-details > table td {
  width: 60%;
  max-width: 200px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#profile-details > table td:last-child {
  text-align: right;
}
#profile-details > table td:last-child > a:hover {
  color: #777;
}
#profile-details > table td > span {
  color: green;
}
@media all and (max-width: 400px) {
  #profile-details > table th, #profile-details > table td {
    width: 100%;
    font-size: 1em;
    text-align: center;
    display: table;
  }
}

#news-wrapper:after {
  content: '';
  display: block;
  clear: both;
}
#news-wrapper #add-news {
  width: 100%;
  margin: 2% auto;
}
#news-wrapper #add-news > a {
  padding: 1rem;
  font-size: 2rem;
  color: black;
  text-align: center;
  border-width: 1px 0px 1px 0px;
  border-color: #70bde5;
  border-style: solid;
  display: block;
}
#news-wrapper #add-news > a:hover {
  background: #70bde5;
  color: #fff;
}
#news-wrapper > .news {
  width: 50%;
  float: left;
  padding: 0 4em;
  margin: 2% auto;
}
#news-wrapper > .news .news-title > a {
  font-size: 1.6rem;
  color: black;
  text-align: center;
  border-width: 1px 0px 1px 0px;
  border-color: #70bde5;
  border-style: solid;
  background: #fff;
  padding: .4em 0;
  margin-bottom: 0.5em;
  font-variant: small-caps;
  font-weight: inherit;
  letter-spacing: 1.5px;
  display: block;
  transition: .10s all;
}
#news-wrapper > .news .news-title > a:hover {
  background: #70bde5;
  color: #fff;
}
#news-wrapper > .news .news-author {
  width: 50%;
  float: left;
  font-size: 1rem;
}
#news-wrapper > .news .news-date {
  width: 50%;
  float: left;
  font-size: 1rem;
  text-align: right;
  font-variant: small-caps;
  font-weight: inherit;
}
#news-wrapper > .news .news-about:after {
  content: '';
  display: block;
  clear: both;
}
#news-wrapper > .news .news-img {
  margin-top: 0.5em;
  border-width: 1px 1px 1px 1px;
  border-color: #aaa;
  border-style: solid;
  box-shadow: 0px 0px 3px 1px #bbb;
  overflow: hidden;
}
#news-wrapper > .news .news-img > img {
  width: 100%;
  height: 300px;
  transition: .15s all;
  display: block;
}
#news-wrapper > .news .news-img > img:hover {
  transform: scale(1.02);
}
#news-wrapper > .news .news-description {
  font-size: 1.2rem;
  color: #222;
  text-align: center;
  margin-top: 0.5em;
}

#footer-wrapper {
  width: 100%;
  padding: 1%;
  font-size: 0.9em;
  text-align: center;
  font-variant: small-caps;
  background: linear-gradient(to bottom, #FFF, #DDD);
  position: absolute;
  left: 0;
  bottom: 0;
}

/*# sourceMappingURL=main.css.map */
