/**
*DOCUMENT-RESET BY DANIEL GRODZICKI
*COPYRIGHT BY ZSTiE.pl // all rights reserved
*LAST-MODIFIED: 2017-12-01
*/
html,body{height: 100%; font-size: 18px;}
html, body, div, a, span, ol, ul, li, p,h1,h2,h3,h4,h5,h6, form, input, textarea, img
{margin: 0; padding: 0; list-style-type: none; text-decoration: none; box-sizing: border-box;}
div.reset{clear: both;}